<div class="card">
    <div class="card-header">
        Feedback
    </div>
    <div class="card-body">
        <div class="p-2">
            <h5>Correct</h5>
            <div class="form-check">
                <input class="form-check-input feedback" type="checkbox" value="Assertion Correct" id="overallCheck">
                <label class="form-check-label" for="overallCheck" data-bs-toggle="tooltip" title="Use this option to indicate that the text-mined assertion accurately represents the relationship asserted by the sentence between the subject and object entity.">
                    The text supports this assertion
                </label>
            </div>
        </div>
        <div class="p-2">
            <h5>Incorrect</h5>
            <div class="form-check">
                <input class="form-check-input feedback" type="checkbox" value="Assertion Incorrect" id="noAssertion">
                <label class="form-check-label" for="noAssertion" data-bs-toggle="tooltip" title="Use this option to indicate that the text does not support the asserted relation between the subject and object entity. Select sub-options as appropriate.">
                    The text does not support this assertion
                </label>
            </div>
            <ul><li class="unbulleted">
                <div class="form-check">
                    <input class="form-check-input feedback incorrect" type="checkbox" value="Predicate Incorrect" id="badPredicate">
                    <label class="form-check-label" for="badPredicate" data-bs-toggle="tooltip" title="Use this option to indicate that the text does not support the predicate used in the assertion, e.g., if the assertion uses biolink:treats when the sentence instead asserts a biolink:causes relationship.">
                        The text does not support the predicate of the assertion (<span class="badge bg-secondary">Predicate</span>)
                    </label>
                </div>
                <ul><li class="unbulleted">
                    <div class="form-check">
                        <input class="form-check-input feedback incorrect" type="checkbox" value="Predicate Too Specific" id="tooSpecific">
                        <label class="form-check-label" for="tooSpecific" data-bs-toggle="tooltip" title="Use this option to indicate that the text does not support the predicate used in the assertion because the predicate is too specific, e.g., the assertion uses biolink:causes when it should instead use biolink:contributes_to.">
                            The predicate of the assertion (<span class="badge bg-secondary">Predicate</span>) is too specific
                        </label>
                    </div>
                </li></ul>
                <div class="form-check">
                    <input class="form-check-input feedback incorrect" type="checkbox" value="Incorrect Subject" id="badSubject">
                    <label class="form-check-label" for="badSubject" data-bs-toggle="tooltip" title="Use this option to indicate that a concept recognition error has occurred for the subject entity.">
                        The annotated subject text does not refer to the subject class (<span class="badge bg-primary">Subject</span>) of the assertion
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input feedback incorrect" type="checkbox" value="Incorrect Object" id="badObject">
                    <label class="form-check-label" for="badObject" data-bs-toggle="tooltip" title="Use this option to indicate that a concept recognition error has occurred for the object entity.">
                        The annotated object text does not refer to the object class (<span class="badge bg-info">Object</span>) of the assertion
                    </label>
                </div>
            </li></ul>
        </div>
        <div class="p-2">
            <h5>This assertion could be improved</h5>
            <div class="form-check">
                <input class="form-check-input feedback" type="checkbox" value="Subject Too General" id="subjectGeneral">
                <label class="form-check-label" for="subjectGeneral" data-bs-toggle="tooltip" title="Use this option to indicate that although the text supports the assertion, the assertion could be improved by using a more specific subject class and/or altering the highlighted span for the subject entity. If this is the case, please include an ontology identifier referencing a more appropriate class and include the text of any altered highlighted span.">
                    This assertion could be improved by using a more specific subject class/span (<span class="badge bg-primary">Subject</span>) (please suggest a more specific subject in the comment box below)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input feedback" type="checkbox" value="Object Too General" id="objectGeneral">
                <label class="form-check-label" for="objectGeneral" data-bs-toggle="tooltip" title="Use this option to indicate that although the text supports the assertion, the assertion could be improved by using a more specific object class and/or altering the highlighted span for the object entity. If this is the case, please include an ontology identifier referencing a more appropriate class and include the text of any altered highlighted span.">
                    This assertion could be improved by using a more specific object class/span (<span class="badge bg-info">Object</span>) (please suggest a more specific object in the comment box below)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input feedback" type="checkbox" value="Predicate Too General" id="predicateGeneral">
                <label class="form-check-label" for="predicateGeneral" data-bs-toggle="tooltip" title="Use this option to indicate that although the text supports the assertion, the predicate used is too general. If this is the case, please suggest an alternative predicate in the comment box.">
                    The text supports this assertion, but the predicate (<span class="badge bg-secondary">Predicate</span>) is too general (please suggest a more specific predicate in the comment box below)
                </label>
            </div>
        </div>
        <div class="mb-3">
            <label for="comments" class="form-label">Additional Comments (optional):</label>
            <input type="text" class="form-control" id="comments">
        </div>
        <button type="button" class="btn btn-outline-primary btn-sm" id="submitButton">Submit Feedback</button>
    </div>
</div>