<div class="card">
    <div class="card-header">
        Assertion Evidence <a href="#" target="_blank">(view assertion)</a>
    </div>
    <div class="card-body">
        <div class="card-title">Sentence:</div>
        <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu egestas justo. Vivamus tristique quam vel nibh auctor porta ut quis augue.</div>
        <dl class="row">
            <dt class="col-sm-2">Publication:</dt>
            <dd class="col-sm-10">JBMI</dd>
            <dt class="col-sm-2">Publication Year:</dt>
            <dd class="col-sm-10">2023</dd>
            <dt class="col-sm-2">Document Zone:</dt>
            <dd class="col-sm-10">Abstract</dd>
            <dt class="col-sm-2">Confidence:</dt>
            <dd class="col-sm-10">0.99</dd>
            <dt class="col-sm-2">Assertion:</dt>
            <dd class="col-sm-10">YES</dd>
        </dl>
    </div>
</div>
<app-feedback></app-feedback>